name: CI

on:
  push:
    branches:
    - main
  pull_request:

env:
  # The NAME makes it easier to copy/paste snippets from other CI configs
  NAME: radamsa-sys

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Format
      run: cargo fmt && git diff --exit-code
    - name: Deps
      run: |
        rustup update
        rustup component add clippy
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
    - name: Lint
      run: cargo clippy -- --deny warnings

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
    - run: cargo test --no-run
    - run: cargo test
