name: CI

on:
  push:
    branches:
    - main
  pull_request:

env:
  # The NAME makes it easier to copy/paste snippets from other CI configs
  NAME: radamsa-sys

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Format
      run: cargo fmt && git diff --exit-code
    - name: Deps
      run: |
        rustup update
        rustup component add clippy
    - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
    - name: Lint
      run: cargo clippy -- --deny warnings

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
    - run: cargo test --no-run
    - run: cargo test
